@media(max-width:768px){
    .get-text h2 {
        margin-top: -30px;
    }
    .lorem button{
        margin-bottom: 20px;
    }
    .about-us p{
        font-size: 16px;
    }
    .to-do .lead{
            font-size: 1rem;
    }
    .to-do img{
        width: 250px;
        height: 250px;
    }
    .pricing .card{
        margin-bottom: 20px;
    }
    .blog-0 .card{
        margin-bottom: 20px;
    }
    .contact-form .col-lg-8{
        margin-bottom: 20px;
    }
}
@media(max-width:576px){
    .photo-gallery .sow{
        margin-bottom: 20px;
    }
    .newsletter button{
        display: block;
        width: 100%;
    }
    .to-do img{
        margin-top: 50px;
    }
}
@media(max-width:513px){
        .get-text h2{
            font-size: 20px;
        }
}
@media (max-width:460px){
    .lead {
        font-size: 1rem;
    }
    .display-4 {
        font-size: 3rem;
    }
}